*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    background-color: #333;
}
.header-content{
    display: flex;
    justify-content: space-between;
    max-height: 85px;
    padding: 10px 0;
}
.connect-list{
    display: flex;
    align-items: center;
}
.header-img{
    padding:  0 10px;
    width: 10%;
}
.connect-list-items{
    color: #fff;
    font-weight: 400;
    margin: 0 10px;
}
.connect-list-items a{
    color: #fff;
}
.connect-icon{
    font-size: 20px;
}
.icon-bag{
    cursor: pointer;
}
.header-content ul li a:hover{
    text-decoration: underline;
    color: #ccc;
}


/*Header-items*/


.list-items-logo{
    display: none;
    color: #fff;
}
.header-items{
    background-color: #111;
    max-height: 56px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    left: 0;
}
.menu-items{
    position: relative;
}
.header-items-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-items{
    display: inline-block;
}
.list-items__list{
    position: absolute;
    top: 100%;
    background-color: #111;
    display: none;
}
.list-items-name{
    display: block;
    color: #fff;
    padding: 0 15px;
    line-height: 56px;
}
.list-items__list-items{
    padding: 10px 0;
}
.list-items__list-name{
    display: block;
    color: #fff;
    padding: 0 15px;
}
.list-items:hover .list-items-name,
.list-items__list-items:hover {
    background-color: #ccc;
}
.list-items:hover .list-items__list{
    display: block;
}
.search{
    margin-right: 12px;
}
.input-search{
    padding: 5px 15px;
}
.btn-search{
    position: relative;
    top: 2px;
    color: #fff;
}


/*Slider*/

.slider-container{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.slider-img{
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-control-slider{
    display: flex;
    justify-content: space-between;
}
.btn-control-slider button{
    position: relative;
    top: -325px;
    background-color: transparent;
    color: #ccc;
    font-size: 25px;
    border: none;
    padding: 20px 5px;
}
.btn-control-slider button:hover{
    background-color: rgba(0,0,0,0.07);
}


/*Shop-Items*/

.shop-items-img{
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 0 10px;
}
.shop-items-name{
    text-align: center;
    padding: 25px 0 60px;
    font-size: 24px;
    font-weight: 400;
}

/*company*/

.company-name{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 40px ;
    font-weight: 700;
    color: #232323;
}

/*social*/

.social-img{
    width: 100%;
    border-radius: 2px;
    background-size: contain;
}
.social-name{
    text-align: center;
    margin: 20px 0;
}
.social-name-link{
    color: #111;
    line-height: 30px;
}
.social-name-link b{
    font-size: 18px;
    font-weight: 600;
}


/*insurance*/

.insurance{
    text-align: center;
}
.insurance-img{
    margin: 50px 0 30px;
}
.insurance-name{
    font-size: 15px;
}
.insurance-paragragh{
    padding: 5px 0;
    font-size: 11px;
    color: #7a7a7a;
}


/*shop-decoration*/


.shop-decoration-img{
    margin: 45px 0 10px;
    border-radius: 7px;
}
.shop-decoration-paragragh{
    line-height: 30px;
    font-weight: 300;
    color: #333;
}

/*SHop*/


.shops h3{
    margin: 100px 0 15px ;
    font-size: 20px;
}
.shop-list-items{
    font-size: 14px;
    font-weight: 200;
    padding: 10px 0;
}
.shop-list-items a{
    color: #111;
    line-height: 30px;
}
.shop-list-items a span{
    font-weight: 700;
}

.policy{
    margin: 100px 0 15px;
    text-align: center;
}
.policy h3{
    font-size: 24px;
    margin: 7px 0 5px;
}
.policy p{
    font-size: 12px;
    color: #7a7a7a;
}
.policy-login{
    display: flex;
    margin: 10px 10px 0 ;
}
.policy-login input{
    flex: 1;
    padding: 12px 16px;
    color: #7a7a7a;
    border-radius:8px 0 0 8px;
    border: 1px solid #818a91;
    font-size: 15px;
}
.policy-login button{
    padding: 0 20px;
    background-color: #111;
    border-radius: 0 8px 8px 0;
    color: #fff;
    font-size: 18px;
    border: none;
}

/*footer*/
.footer{
    margin: 120px 0 50px;
    text-align: center;
    font-size: 12px;
}
.footer-list{
    padding: 5px 0;
    color: #3a3a3a;
}
.footer-list span{
    color: #111;
    font-weight: 600;
}
.footer-list:first-child{
    padding-bottom: 20px;
}


/*Reponsive*/

@media(min-width:740px ) and (max-width: 1023px){
    .header{
        display: none;
    }
    .company-img{
        width: 100%;
    }
}
@media(max-width:739px ){
    .header{
        display: none;
    }
    .header-items-name{
        position: relative;
        padding: 12px 0;
    }
    .menu-items{
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        background-color: #111;

    }
    .list-items{
        display: block;
        width: 100%;
    }
    .list-items-name{
        line-height: 40px;
        font-size: 13px;
        font-weight: 400;
    }
    .list-items-logo{
        display: block;
        padding: 0 15px;
    }
    .input-search{
        display: none;
    }
    .list-items-logo:hover .menu-items{
        display: block;
    }
    .company-img{
        width: 100%;
    }
    .shop-items-name,
    .company-name,
    .social-name-link
    {
        font-size: 20px;
    }
    .shop-decoration,
    .shops,
    .footer{
        margin: 0 10px;
    }
    .shop-decoration-paragragh{
        font-size: 14px;
        line-height: 27px;
    }
    .shops h3{
        font-size: 15px;
    }
    .shop-list-items{
        padding: 2px 0;
    }
    .shop-list-items a{
        font-size: 13px;
    }
}